<launch>

<node pkg="plan_env" name="gridmap_node" type="gridmap_node" output="screen">
    <param name="grid_map/resolution"      value="0.1" /> 

    <param name="grid_map/local_update_range_x"  value="10.15" /> 
    <param name="grid_map/local_update_range_y"  value="10.15" /> 
    <param name="grid_map/local_update_range_z"  value="10.15" /> 
    <param name="grid_map/obstacles_inflation"     value="0.1" /> 
    <!-- 虚拟地面高度 -->
    <param name="grid_map/virtual_ground"        value="0"/>
    <!-- 是否启动虚拟墙 -->
    <param name="grid_map/enable_virtual_wall"        value="false"/>
    <!-- 该参数控制RViz 中显示的地图高度上限，用于简化可视化：高于此高度的栅格点不会被加入可视化点云。-->
    <param name="grid_map/virtual_ceil"   value="5"/> 
    <!-- camera parameter -->

    <param name="grid_map/cx" value="320.2084655761719"/>
    <param name="grid_map/cy" value="174.24594116210938"/>
    <param name="grid_map/fx" value="262.0037536621094"/>
    <param name="grid_map/fy" value="262.0037536621094"/>
    
    <!-- depth filter -->
    <param name="grid_map/use_depth_filter" value="true"/>
    <param name="grid_map/depth_filter_tolerance" value="0.15"/>
    <param name="grid_map/depth_filter_maxdist"   value="5.0"/>
    <param name="grid_map/depth_filter_mindist"   value="0.2"/>
    <param name="grid_map/depth_filter_margin"    value="2"/>
    <param name="grid_map/k_depth_scaling_factor" value="1000.0"/>
    <param name="grid_map/skip_pixel" value="2"/>
    <!-- local fusion -->
    <param name="grid_map/p_hit"  value="0.65"/>
    <param name="grid_map/p_miss" value="0.35"/>
    <param name="grid_map/p_min"  value="0.12"/>
    <param name="grid_map/p_max"  value="0.90"/>
    <param name="grid_map/p_occ"  value="0.80"/>
    <!-- 忽略距离相机过近的点（如相机本身的支架或噪声点） -->
    <param name="grid_map/min_ray_length" value="0.2"/> 


    <param name="grid_map/show_occ_time"  value="false"/>
    <param name="grid_map/pose_type"     value="2"/>  
    <param name="grid_map/frame_id"      value="world"/>
	
 </node>

    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find plan_env)/launch/plan_env.rviz" required="true" />

</launch>

